:root {
  /* ----- width ----- */
  /* ----- height ----- */
  /* ----- margin ----- */

  /* ----- padding ----- */
  --pd-default: 8px 12px;
  --pd-header: 12px;

  /* ----- color ----- */
  /* main */
  --main-color: #ffc8c8;
  --main-color-dimmed: #ffe8e8;
  /* text */
  --txt-default: #333;
  --txt-white: #fff;
  --txt-e: #eee;
  --txt-9: #999999;

  /* btn */
  --btn-bg: #333;
  --btn-txt-clicked: #ff9393;
  /* bg */
  --bg-light: #f8f8f8;
  --bg-dark: #222;

  /* ----- transition ----- */
  --trns-02: 0.2s;
  --trns-03: 0.3s;
  --trns-05: 0.5s;
}
